.main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    min-height: 20vh;
    margin: 10px;
  
  }
  
  .number{
      font-weight: bold;
      color: cadetblue;
      font-size: 30px;
  }
  
  .home{
      color: white;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      background-color: rgb(230, 155, 168);
      padding: 10px;
      border-radius: 10px;
  }
  
  .btn{
      background-color: #e57da5;
      border-radius: 8px;
      border-style: none;
     
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 500;
      height: 40px;
      line-height: 20px;
      list-style: none;
      margin: 0;
      outline: none;
      padding: 10px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: color 100ms;
      vertical-align: baseline;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
   
   
 
