.btn{
    display: flex;
    justify-content: center;
    position: relative;
    top: 140px;
    gap: 350px;
    box-shadow: 2px 2px 2px black;

}

.main{
    display: flex;
    justify-content: center;
}